/* global.css */

body {
  --bg: white;
  --textNormal: #222;
  --textTitle: #222;
  --textLink: #3498db;
  --hr: hsla(0, 0%, 0%, 0.2);

  background-color: var(--bg);
}

body.dark {
  -webkit-font-smoothing: antialiased;

  --bg: #1b1b1b;
  --textNormal: rgba(255, 255, 255, 0.88);
  --textTitle: white;
  --textLink: #3498db;
  --hr: hsla(0, 0%, 100%, 0.2);
}

body.dark code {
  background-color: #6d6d6d;
  color: #e0e0e0;
  text-shadow: none;
  border-radius: 7px;
}

body.dark pre {
  background-color: #6d6d6d;
  color: #e0e0e0;
  border-radius: 7px;
  text-shadow: none;
}

.header-page {
  display: flex;
  align-items: center;
  margin-bottom: 2.5em;
  justify-content: space-between;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
  margin: 15px 0;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 25px;
  width: 25px;
  background-color: #fff;
  box-shadow: 0 0 2px 3px #3498db;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #3498db;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(25px);
  -ms-transform: translateX(25px);
  transform: translateX(25px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Strip */
.switch.strip {
  height: 25px;
}

.slider.strip {
  border-radius: 15px;
}

.slider.strip:before {
  background: #fff;
  box-shadow: 0 0 10px 3px #ccc;
  border-radius: 50%;
  bottom: -9px;
}
